@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}

.font-custom {
  font-family: var(--font-druk-wide);
}

.route-custom:hover div:not(:hover) {
  opacity: .5;
  transition: .3s ease;
}

.hero-custom:hover span:not(:hover) {
  opacity: .5;
  filter: blur(6px);
  transition: .3s ease;
}